html, body {
  background-color: #212024;
  color: whitesmoke;
  font-size: 1.1em !important;
}


/* scrollbar syle */
.style-3::-webkit-scrollbar-track{
	background-color: #202124;
}

.style-3::-webkit-scrollbar{
	width: 9px;
	background-color: #202124;
}

.style-3::-webkit-scrollbar-thumb{
	background-color: #666666;
}
/* end of scrollbar style */


/* style for form*/

/* end of style for form */


/* style for Task */

/* end of style for Task */


/* style for completedTask */
.completedTaskContainer {

}

.completedTaskViewEnable {
  display: inline;
}

.completedTaskViewDisable {
  display: none;
}

.btnPosition {
  position: absolute;
  bottom: 0;
  align-self: center;
}

.btnPositionClicked {
  position: static;
}
/* end of style for completedTask */